<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__top">
        <a href="#">
          <img src="assets/images/logo.svg" class="header__logo" />
        </a>
        <a href="#menu" class="header__menu-link">
          <img
            src="assets/images/navLines.svg"
            class="icon"
            (click)="changeTranslateX()"
          />
        </a>

        <div class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#home" class="header__nav-link">Home</a>
            </li>

            <li class="header__nav-item">
              <a href="#about" class="header__nav-link">About Us</a>
            </li>

            <li class="header__nav-item">
              <a href="#agency" class="header__nav-link">What We Do</a>
            </li>

            <li class="header__nav-item">
              <a href="#contact" class="header__nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__main">
        <div class="wrap">
          <h1 class="header__main-title">Never Caught<br />Off-Guard Again</h1>
          <p class="header__main-text">
            We are specialist in protecting your assets and reputation to make
            sure you operate risk-free and focus on your core business.
          </p>
          <button class="header__main-button">Learn More</button>
          <a class="header__main-scroll" href="#contact">
            <p class="header__main-scroll-name">Scroll</p>
            <img
              src="assets/images/arrow.svg"
              alt="scroll arrow"
              class="header__main-scroll-image"
            />
          </a>
        </div>
        <img
          src="assets/images/header-background-desktop.png"
          alt="Helmet"
          class="header__image-desktop"
        />
      </div>
    </div>
  </div>
  <img
    src="assets/images/header-background.png"
    alt="Helmet"
    class="header__image"
  />
</header>
