<div class="menu" [style.transform]="translateX">
  <div class="container">
    <div class="menu__header">
      <img src="../../assets/logo.svg">
      <a href="#">
        <img src="../../assets/cross.svg" class="icon" (click)="changeTranslateX()">
      </a>
    </div>
    <div class="menu__nav">
      <ul class="menu__nav-list">
        <li class="menu__nav-item">
          <a href="#home" class="menu__nav-link">Home</a>
        </li>

        <li class="menu__nav-item">
          <a href="#agency" class="menu__nav-link">What we do</a>
        </li>

        <li class="menu__nav-item">
          <a href="#about" class="menu__nav-link">About us</a>
        </li>

        <li class="menu__nav-item">
          <a href="#history" class="menu__nav-link">Our history</a>
        </li>

        <li class="menu__nav-item">
          <a href="#contact" class="menu__nav-link">Contact us</a>
        </li>
      </ul>
    </div>

    <div class="menu__services">
      <h4 class="menu__services-title">
        Services
      </h4>
      <div class="menu__nav">
        <ul class="menu__nav-list">
          <li class="menu__nav-item">
            <a href="#training" class="menu__nav-link">Training and<br>Implementation</a>
          </li>
  
          <li class="menu__nav-item">
            <a href="#c-consultants" class="menu__nav-link">Cyber Consultants</a>
          </li>
  
          <li class="menu__nav-item">
            <a href="#protection" class="menu__nav-link">Consultancy and<br>brand protection</a>
          </li>

          <li class="menu__nav-item">
            <a href="#software" class="menu__nav-link">Software</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>